{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "endOfLine": "lf",
  "printWidth": 120,
  "arrowParens": "always",
  "useTabs": false,
  "parser": "typescript"
}