@font-face {
  font-family: "MADE TOMMY";
  src: url("/src/assets/fonts/MADETOMMY-Black.woff2") format("woff2"),
    url("/src/assets/fonts/MADETOMMY-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE TOMMY";
  src: url("/src/assets/fonts/MADETOMMY-Medium.woff2") format("woff2"),
    url("src/assets/fonts/MADETOMMY-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE TOMMY";
  src: url("/src/assets/fonts/MADETOMMY.woff2") format("woff2"),
    url("/src/assets/fonts/MADETOMMY.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-family: "MADE TOMMY";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body,
#root {
  font-family: "MADE TOMMY";
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.map {
  width: 100%;
  height: 100vh;
}

.ignore-padding {
  padding-top: 0 !important
}

.mantine-Badge-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}